table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}

th {
  /* padding: 1rem; */
  border: 1px solid black;
  padding: 10px;
}

#table_container {
  overflow: auto;
}

tr:nth-child(even) {
  /* background-color: #26262a; */
  background-color: black;
}

#steamId {
  color: orange;
}

.links {
  color: #0d6efd;
}