@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

body {
  /* background-color: #111111; */
  background-color: black;
  color: white;
  padding: 10px;
  font-family: "Cascadia Mono";
  font-size: 14px;
}

.warning {
  color: #ffc107;
}

.danger {
  color: #dc3545;
}

.dark {
  color: #4e5761;
}