@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&display=swap');

body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Cascadia Mono';
  /* font-size: 1.2em; */
  background-color: black;
  color: white;
  font-size: 13px;
}

a {
  color: white;
  border-bottom: 1px solid red;
  text-decoration: none;
}

a:hover {
  background-color: rgba(165, 42, 42, 0.465);
}

.line {
  width: 100%;
  height: 1px;
  background-color: brown;
  margin-top: 10px;
}

.line-ver {
  width: 2px;
  background-color: brown;
}

#match {
  background-color: rgba(165, 42, 42, 0.465);
}

.main {
  display: flex;
  /* margin-top: 15px; */
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 85vh;
}

.fase-1 {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 10px;
}

.fase-1 a {
  display: flex;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-left: 4px solid #ff000066;
  background-image: linear-gradient(145deg, #ff000000, #ff000066);
  padding: 10px;
}

.fase-1 span {
  display: flex;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-left: 4px solid #ff000066;
  background-image: linear-gradient(145deg, #ff000000, #ff000066);
  padding: 10px;
}

.title-match {
  font-weight: bold;
}

.right-box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 10px;
  margin-top: 13px;
  overflow: auto;
}

.liga-title {
  font-size: 20px;
  font-weight: bold;
}

.tabla-container {
  display: flex;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #202020;
  text-align: left;
  padding: 8px;
}

#liga {
  background-color: black;
}

tr:nth-child(even) {
  background-color: #191919;
}

.avatar img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

/* Base style for the colored bar */
td.bar-blue, td.bar-orange, td.bar-green {
  position: relative;
  padding-left: 10px;
}

td.bar-blue::before,
td.bar-orange::before,
td.bar-green::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
}

td.bar-blue::before {
  background-color: #3b82f6;
}

td.bar-orange::before {
  background-color: #f97316;
}

td.bar-green::before {
  background-color: #22c55e;
}

.legend-container {
  display: flex;
  gap: 50px;
  background-color: #3a3a3a;
  padding: 20px;
  border-radius: 5px;
  max-width: 600px;
  margin-top: 30px;
}

.legend-section h4 {
  margin-top: 0;
  font-size: 14px;
  font-weight: bold;
}

.legend-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend-section li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
}

.dot, .circle {
  display: inline-block;
  margin-right: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 2px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.elo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111111;
  border-radius: 10px;
  padding: 5px;
  color: gold;
  font-weight: bold;
  font-size: 18px;
}

.coin {
  text-align: center;
}

.blue { background-color: #448aff; }
.orange { background-color: #ff9800; }
.green { background-color: #00c853; }
.red { background-color: #d32f2f; }

.win { background-color: #66bb6a; }
.draw { background-color: #b0bec5; }
.lose { background-color: #ef5350; }

.dot-win {
  background-color: #22c55e;
  box-shadow: 0px 0px 10px green;
}

.dot-loss {
  background-color: #ef4444;
  box-shadow: 0px 0px 10px brown;
}

.dot-draw {
  background-color: #b0bec5;
}

.dot-none {
  background-color: #6b7280;
  opacity: 0.5;
}

.match-form {
  display: flex;
  gap: 4px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.view-matchs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.view-matchs a {
  background-color: #222222;
  padding: 10px;
  border-radius: 10px;
}

.matchs-btn {
  display: flex;
  gap: 10px;
}
